ZPR-v1.pro.user
ZPR-v1
Makefile
*.o

    #ignoring following files according to naming pattern
    #moc_blockingqueue.cpp
    #moc_boardscene.cpp
    #moc_ievent.cpp
    #moc_mainwindow.cpp
moc_*.cpp

    #ignoring following files according to naming pattern
    #ui_mainwindow.h
ui_*.h
